@charset "UTF-8";
body {
  font-size: 14px;
  background-color: #F6F6F6;
  font-family: Verdana,Arial,Helvetica,'meirio','メイリオ','Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4',Osaka,'ＭＳ Ｐゴシック',sans-serif;
  color: #515151;
  text-align: center;
}

/* パンくずリストのセパレータ変更 */
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

hr {
  background-color: #6cc6c4;
  margin: 0;
  height: 7px;
}

/* スマホ用 */
/* ヘッダ header-start */
.headerArea {
  padding: 0;
}

header .row {
  margin: 0;
}

header .breadcrumb {
  background-color: #F6F6F6;
  padding: 0;
  font-size: 0.65rem;
  margin: 1rem 0 0.6rem 0.3rem;
}

header .breadcrumb a {
  color: #4D82C4;
  text-decoration: underline;
}

header img {
  margin: 0 auto;
}

header .telArea {
  width: 13.5rem;
  margin: 0 auto;
}

header p {
  margin: 0;
  padding: 0;
  font-size: 0.6rem;
}

header ul {
  padding: 0;
}

header li {
  list-style: none;
}

header .btnStyle {
  background: -webkit-gradient(linear, left top, left bottom, from(#9ce3e1), to(#6cc6c4));
  background: linear-gradient(#9ce3e1, #6cc6c4);
  border-radius: 4px;
}

header .btnStyle a {
  color: #fff;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
}

header .btnStyle p {
  font-size: 0.9rem;
  text-shadow: 1px 1px 2px #6CC6C4;
}

header .btnStyle .sub {
  font-size: 0.6rem;
  font-weight: bold;
}

header .tel {
  width: 100%;
  margin: 0.3rem 0 0.3rem 0;
  padding-left: 2rem;
  font-size: 1.5rem;
  background: url("../img/bgTel.png") no-repeat 0 0.4rem;
}

header .reservationTime {
  border: 1px solid #D6D6D6;
  width: 13.5rem;
  margin: 0 auto 0.8rem auto;
  padding: 0.3rem 0;
}

header .reservationTime .colorRed {
  color: #B22C00;
}

header .col-sm-3 {
  padding: 0;
}

/* ヘッダ header-end */
/* メインコンテンツ main-start */
#mainContents {
  padding: 1.3rem 0.7rem 0 0.7rem;
}

#mainContents img {
  width: 100%;
}

#mainContents .news {
  margin-top: 0.5rem;
  padding: 1.3rem;
  background-color: #fff;
}

#mainContents .news h2 {
  font-size: 1rem;
  text-align: left;
  padding: 1rem 0 0.3rem 0;
}

#mainContents .news hr {
  height: 2px;
}

#mainContents .news dl dt {
  text-align: left;
  margin: 1.5rem 0;
}

#mainContents .news dl dd {
  text-align: left;
  font-size: 0.83rem;
  padding: 0 0 0.5rem 0;
  margin: 0 1.2rem 0 1.5rem;
  border-bottom: 1px dotted #CCCCCC;
}

#mainContents .navList {
  text-align: left;
  border: #6cc6c4 1px solid;
  border-radius: 5px 5px 0 0;
  margin: 1.5rem 0 0 0;
}

#mainContents .navList h2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#9ce3e1), to(#6cc6c4));
  background: linear-gradient(#9ce3e1, #6cc6c4);
  color: #fff;
  border-radius: 5px 5px 0 0;
  margin: 0;
  font-size: 1rem;
  padding: 0.7rem 1rem;
}

#mainContents .navList ul {
  background-color: #fff;
  margin: 0;
  padding: 0 0 1.3rem 0;
}

#mainContents .navList ul li {
  list-style: none;
  margin: 0 0.8rem;
  border-bottom: #6cc6c4 1px solid;
  background: url("../img/bgListIcon01.png") no-repeat 5px 15px;
}

#mainContents .navList ul li a {
  color: #515151;
  display: block;
  padding: 0.5rem 0 0.5rem 1.5rem;
  text-decoration: none;
}

/* メインコンテンツ main-end */
/* フッター footer-start */
footer .footerNav {
  text-align: left;
  background-color: #6cc6c4;
  border-radius: 5px;
  margin: 1rem 0;
}

footer .footerNav ul {
  padding-left: 2rem;
}

footer .footerNav ul li {
  list-style: none;
  padding: 0.3rem 0 0.3rem 1.5rem;
  background: url("../img/bgFooterIcon.png") no-repeat 0 8px;
}

footer .footerNav ul li a {
  color: #fff;
  text-decoration: none;
}

footer .footerStyle1 {
  text-align: right;
  font-size: 0.8rem;
  line-height: 1.4rem;
}

footer .footerStyle1 p {
  margin-bottom: 0.1rem;
}

footer hr {
  height: 1px;
}

footer .copyRight {
  font-size: 0.75rem;
  margin: 0.7rem 0;
}

/* フッター footer-end */
/* contentsPateCommon-start */
#clinicPage #mainContents,
#servicePage #mainContents,
#staffPage #mainContents,
#accessPage #mainContents {
  padding-top: 0;
}

#clinicPage .clinicInfo,
#servicePage .clinicInfo,
#staffPage .clinicInfo,
#accessPage .clinicInfo {
  text-align: left;
  background-color: #fff;
  padding-bottom: 10px;
}

#clinicPage .clinicInfo p,
#servicePage .clinicInfo p,
#staffPage .clinicInfo p,
#accessPage .clinicInfo p {
  font-size: 0.8rem;
}

#clinicPage .clinicInfo h2,
#servicePage .clinicInfo h2,
#staffPage .clinicInfo h2,
#accessPage .clinicInfo h2 {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#9ce3e1), to(#6cc6c4));
  background: linear-gradient(#9ce3e1, #6cc6c4);
  font-size: 1.3rem;
  padding: 1rem 1.3rem;
  border-radius: 6px 6px 0 0;
  border: #6cc6c4 1px solid;
}

#clinicPage .clinicInfo .infoArea,
#servicePage .clinicInfo .infoArea,
#staffPage .clinicInfo .infoArea,
#accessPage .clinicInfo .infoArea {
  margin: 2rem 1.5rem 0 1.5rem;
}

#clinicPage .clinicInfo .infoArea h3,
#servicePage .clinicInfo .infoArea h3,
#staffPage .clinicInfo .infoArea h3,
#accessPage .clinicInfo .infoArea h3 {
  font-size: 1rem;
}

#clinicPage .clinicInfo .infoArea hr,
#servicePage .clinicInfo .infoArea hr,
#staffPage .clinicInfo .infoArea hr,
#accessPage .clinicInfo .infoArea hr {
  height: 2px;
}

#clinicPage .clinicInfo .infoArea table, #clinicPage .clinicInfo .infoArea th, #clinicPage .clinicInfo .infoArea td,
#servicePage .clinicInfo .infoArea table,
#servicePage .clinicInfo .infoArea th,
#servicePage .clinicInfo .infoArea td,
#staffPage .clinicInfo .infoArea table,
#staffPage .clinicInfo .infoArea th,
#staffPage .clinicInfo .infoArea td,
#accessPage .clinicInfo .infoArea table,
#accessPage .clinicInfo .infoArea th,
#accessPage .clinicInfo .infoArea td {
  border: solid 1px #999999;
  height: 2.5rem;
}

#clinicPage .clinicInfo .infoArea table,
#servicePage .clinicInfo .infoArea table,
#staffPage .clinicInfo .infoArea table,
#accessPage .clinicInfo .infoArea table {
  width: 100%;
  text-align: center;
  margin: 1rem 0 1.3rem 0;
}

#clinicPage .clinicInfo .infoArea table th,
#servicePage .clinicInfo .infoArea table th,
#staffPage .clinicInfo .infoArea table th,
#accessPage .clinicInfo .infoArea table th {
  background-color: #D1D1D1;
}

#clinicPage .clinicInfo .infoText,
#servicePage .clinicInfo .infoText,
#staffPage .clinicInfo .infoText,
#accessPage .clinicInfo .infoText {
  margin: 3rem 0.5rem;
}

#clinicPage .clinicInfo .infoText h4,
#servicePage .clinicInfo .infoText h4,
#staffPage .clinicInfo .infoText h4,
#accessPage .clinicInfo .infoText h4 {
  color: #6CC6C4;
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

#clinicPage footer .footerStyle1 .col-auto,
#servicePage footer .footerStyle1 .col-auto,
#staffPage footer .footerStyle1 .col-auto,
#accessPage footer .footerStyle1 .col-auto {
  padding: 0;
  margin: 0;
}

#clinicPage footer .footerStyle1 .col-auto:last-child,
#servicePage footer .footerStyle1 .col-auto:last-child,
#staffPage footer .footerStyle1 .col-auto:last-child,
#accessPage footer .footerStyle1 .col-auto:last-child {
  padding: 0 1rem 0 0.3rem;
}

/* contentsPateCommon-end */
/* servicePate-start */
#servicePage .clinicInfo .infoArea .infoText {
  margin: 1.3rem 0 5rem 0;
}

#servicePage .navList:first-child {
  margin-top: 0;
}

/* servicePate-end */
/* staffPate-start */
#staffPage .clinicInfo {
  background-color: #fff;
}

#staffPage .clinicInfo .infoArea {
  margin: 2rem 1.5rem 1rem 1.5rem;
}

#staffPage .clinicInfo .infoArea .Area1 {
  width: 100%;
  margin: 0 0.7rem;
}

#staffPage .clinicInfo .infoArea .Area1 .image, #staffPage .clinicInfo .infoArea .Area1 p {
  text-align: center;
  margin: 1rem 0;
}

#staffPage .clinicInfo .infoArea .Area1 .image p {
  background-color: #6CC6C4;
  color: #fff;
  padding: 0.1rem 0;
}

#staffPage .clinicInfo .infoArea .Area1 #st01 {
  width: 200px;
  height: 200px;
}

#staffPage .clinicInfo .infoArea .infoText {
  width: 100%;
  margin: 0 0.7rem 1rem 0.7rem;
  line-height: 1.5rem;
}

/* staffPate-end */
/* accessPate-start */
#accessPage #mainContents .Area1 .image {
  text-align: center;
  margin-top: 0.5rem;
}

#accessPage #mainContents .Area1 img {
  width: 200px;
  height: 200px;
}

#accessPage #mainContents .Area1 .mapArea {
  height: 250px;
}

#accessPage #mainContents .Area1 .mapArea iframe {
  margin-top: 1rem;
  width: 100%;
  height: 200px;
}

#accessPage #mainContents .Area1 .mapArea a {
  text-decoration: underline;
  color: #0000FF;
  font-size: 0.7rem;
}

#accessPage #mainContents .navList:first-child {
  margin-top: 0;
}

/* accessPate-end */
/* PC用 */
@media screen and (min-width: 576px) {
  body {
    margin: 0 auto;
    min-width: 920px;
  }
  body .container {
    max-width: 920px;
  }
  /* ヘッダ header-start */
  header .titleLogo {
    text-align: left;
    margin: auto 0;
  }
  header .telArea {
    width: 13.5rem;
    margin: 0 auto;
    text-align: right;
    padding: 0;
  }
  header p {
    margin: 0;
    padding: 0;
    font-size: 0.6rem;
  }
  header .headerNav {
    margin: 0;
  }
  header .headerNav ul {
    padding: 0;
  }
  header .headerNav li {
    border: solid 1px #6CC6C4;
    list-style: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#9ce3e1), to(#6cc6c4));
    background: linear-gradient(#9ce3e1, #6cc6c4);
  }
  header .headerNav li:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#6cc6c4), to(#9ce3e1));
    background: linear-gradient(#6cc6c4, #9ce3e1);
  }
  header .headerNav li:last-child {
    border-radius: 0 6px 6px 0;
  }
  header .headerNav li:first-child {
    border-radius: 6px 0 0 6px;
  }
  header .headerNav .btnStyle {
    border-right: #71C9C7 solid 1px;
    border-left: #99E1DF solid 1px;
    border-radius: 0;
  }
  header .headerNav .btnStyle a {
    color: #fff;
    display: block;
    height: 100%;
    padding: 1rem 0;
    text-decoration: none;
  }
  header .headerNav .btnStyle a:hover {
    color: #C1FFFD;
  }
  header .headerNav .btnStyle p {
    font-size: 0.9rem;
    text-shadow: 1px 1px 2px #6CC6C4;
  }
  header .headerNav .btnStyle .sub {
    font-size: 0.6rem;
    font-weight: bold;
  }
  header .tel {
    width: 100%;
    margin: 0.8rem 0 0.3rem 0;
    padding-left: 2rem;
    font-size: 1.5rem;
    background: url("../img/bgTel.png") no-repeat 1rem 0.4rem;
  }
  header .reservationTime {
    text-align: center;
    border: 1px solid #D6D6D6;
    width: 13.5rem;
    margin: 0 0 1.2rem auto;
    padding: 0.3rem 0;
  }
  header .reservationTime .colorRed {
    color: #B22C00;
  }
  header .textStyle1 {
    margin-top: 0.8rem;
  }
  /* ヘッダ header-end */
  /* メインコンテンツ mainContents-start */
  #mainContents {
    padding: 0.4rem 0 0 0;
  }
  #mainContents .col-sm-8 {
    padding: 0;
  }
  #mainContents .col-sm-4 {
    max-width: 31%;
  }
  #mainContents img {
    width: 640px;
    height: 280px;
  }
  #mainContents .navList {
    margin: 0;
  }
  #mainContents .navList h2 {
    padding: 0.8rem 1rem;
  }
  #mainContents .navList ul li {
    padding: 0;
  }
  #mainContents .navList ul li a {
    display: block;
    padding: 0.6rem 0 0.6rem 1.5rem;
    height: 100%;
    width: 100%;
  }
  #mainContents .navList ul li a:hover {
    color: #AEC24C;
    text-decoration: none;
  }
  #mainContents .navList:last-child {
    margin-top: 1rem;
  }
  #mainContents .news {
    padding-bottom: 2rem;
  }
  #mainContents .news h2 {
    padding: 0.7rem 0 0.3rem 0;
  }
  #mainContents .news dl dt {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
  }
  #mainContents .news dl dd {
    margin: 0;
    padding: 0 0 0 0.5rem;
    font-size: 0.75rem;
    border-bottom: none;
  }
  #mainContents .news dl .row {
    border-bottom: 1px dotted #CCCCCC;
    margin: 0 0.9rem;
    padding: 1rem 0 0.7rem 0;
  }
  /* メインコンテンツ mainContents-end */
  /* フッター footer-start */
  footer .copyRight {
    padding-bottom: 0.55rem;
  }
  footer .footerNav li {
    margin-left: 1.3rem;
  }
  footer .footerNav li:first-child {
    margin-left: 0;
  }
  footer .footerNav li a:hover {
    text-decoration: underline;
  }
  footer .footerStyle1 {
    margin: 0 0.7rem 0.73rem 0;
  }
  footer .footerStyle1 p {
    padding: 0 0.3rem 0 0;
  }
  /* フッター footer-end */
  /* PageCommon-start */
  #clinicPage .clinicInfo h2,
  #servicePage .clinicInfo h2,
  #staffPage .clinicInfo h2,
  #accessPage .clinicInfo h2 {
    padding: 2.5rem 1.3rem;
  }
  #clinicPage .col-sm-8,
  #servicePage .col-sm-8,
  #staffPage .col-sm-8,
  #accessPage .col-sm-8 {
    max-width: 67.3%;
  }
  /* PageCommon-end */
  /* servicePage-start */
  #servicePage .clinicInfo {
    line-height: 1.5rem;
  }
  #servicePage .clinicInfo .infoArea {
    margin: 2rem 1.5rem 0 1.5rem;
  }
  #servicePage .clinicInfo .infoArea .infoText {
    margin-bottom: 2rem;
  }
  #servicePage .clinicInfo .infoArea .infoText h4 {
    font-size: 0.9rem;
  }
  #servicePage .clinicInfo .infoArea .infoText p {
    font-size: 0.79rem;
  }
  /* servicePage-end */
  /* staffPage-start */
  #staffPage .clinicInfo {
    padding-bottom: 0.5rem;
  }
  #staffPage .clinicInfo .infoArea {
    margin: 2rem 1rem 1rem 1rem;
  }
  #staffPage .clinicInfo .infoArea .Area1 {
    margin: 0;
  }
  #staffPage .clinicInfo .infoArea .Area1 .col-sm {
    padding: 0;
  }
  #staffPage .clinicInfo .infoArea .Area1 .col-sm .infoText {
    margin-top: 2rem;
  }
  #staffPage .clinicInfo .infoArea .Area1 .image, #staffPage .clinicInfo .infoArea .Area1 .infoText p {
    text-align: left;
  }
  #staffPage .clinicInfo .infoArea > .infoText {
    margin: 2rem 0 0 0;
  }
  #staffPage #st02 {
    width: 600px;
    height: 450px;
  }
  /* staffPage-end */
  /* accessPage-start */
  #accessPage #mainContents .col-sm {
    padding: 0;
  }
  #accessPage #mainContents .infoArea {
    margin-bottom: 0;
  }
  #accessPage #mainContents .Area1 {
    padding-bottom: 1.6rem;
  }
  #accessPage #mainContents .Area1 .mapArea {
    height: 400px;
  }
  #accessPage #mainContents .Area1 .mapArea iframe {
    height: 350px;
  }
  #accessPage #mainContents .Area1 .infoText {
    margin: 1.5rem 0;
  }
  /* accessPage-end */
}
/*# sourceMappingURL=styles.css.map */